@font-face {
  font-family: 'ModernGothic';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/ModernGothic-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: italic;
  font-weight: 700;
  src: url('/src/assets/fonts/ModernGothic-BoldItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: italic;
  font-weight: 400;
  src: url('/src/assets/fonts/ModernGothic-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/ModernGothic-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: italic;
  font-weight: 300;
  src: url('/src/assets/fonts/ModernGothic-LightItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/ModernGothic-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: italic;
  font-weight: 500;
  src: url('/src/assets/fonts/ModernGothic-MediumItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothic';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/ModernGothic-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'ModernGothicMono';
  font-style: italic;
  font-weight: 400;
  src: url('/src/assets/fonts/ModernGothicMono-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothicMono';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/ModernGothicMono-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothicMono';
  font-style: italic;
  font-weight: 300;
  src: url('/src/assets/fonts/ModernGothicMono-LightItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothicMono';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/ModernGothicMono-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothicMono';
  font-style: italic;
  font-weight: 500;
  src: url('/src/assets/fonts/ModernGothicMono-MediumItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'ModernGothicMono';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/ModernGothicMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/Ogg-Bold.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 700;
  src: url('/src/assets/fonts/Ogg-BoldItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/Ogg-Light.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 300;
  src: url('/src/assets/fonts/Ogg-LightItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/Ogg-Medium.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 500;
  src: url('/src/assets/fonts/Ogg-MediumItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Ogg-Regular.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 400;
  src: url('/src/assets/fonts/Ogg-RegularItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 200;
  src: url('/src/assets/fonts/Ogg-Thin.otf') format('otf');
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 300;
  src: url('/src/assets/fonts/Ogg-ThinItalic.otf') format('otf');
}

@font-face {
  font-family: 'BradfordLL';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/BradfordLL-Bold.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: italic;
  font-weight: 700;
  src: url('/src/assets/fonts/BradfordLL-BoldItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/BradfordLL-Light.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: italic;
  font-weight: 300;
  src: url('/src/assets/fonts/BradfordLL-LightItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/BradfordLL-Medium.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: italic;
  font-weight: 500;
  src: url('/src/assets/fonts/BradfordLL-MediumItalic.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/BradfordLL-Regular.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'BradfordLL';
  font-style: italic;
  font-weight: 400;
  src: url('/src/assets/fonts/BradfordLL-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'BradfordMonoLL';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/BradfordMonoLL-Regular.otf') format('opentype');
}
